{namespace template.section}

/**
 * Private messages section
 */
{template .multimedia}
<div class="sidebar">
        <div class="well">
		  <h5>{msg desc="Albums"}Albums{/msg}</h5>
		  
	      <div id="folderList">
                
         </div>
         <br><br>
<br><br>
<div id="newFolder-cont">

</div>

        </div>
      </div>
      
      <div id="multimenu" class="content-big">	


		</div>

		</div>
      </div>
{/template}
