{namespace template.section}

/**
 * Private messages section
 */
{template .multimedia}
<div class="row-fluid">
	<div class="span3">
        <div class="well" style="padding: 8px 0;">
		  
	      
          <br><br>
		  <br><br>
		  <div id="newFolder-cont"></div>

        </div>
    </div>

    
    <div class="span9">      
      <div id="multimenu" class="content-big"></div>

	</div>
</div>
{/template}
