{namespace template.notificationView}

/**
 * Notification entry in the start section
 * @param endUrl
 * @param text
 */
{template .notification}
<li><a href="#{$endUrl}">{$text}</a></li>
<hr>
{/template}



